@model List<Online_lib.Domain.Entities.User.Publisher>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">Publisher management</h4>
                    <img class="mx-auto d-block" width="100px" src="~/Images/D-data.png" />
                    <hr />
                    <form method="post" action="@Url.Action("AddPublisher", "AdminPublisherManagement")">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" type="text" class="form-control" placeholder="Publisher name" required />
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <input name="country" type="text" class="form-control" placeholder="Country" required />
                        </div>
                        <div class="form-group">
                            <label>Registration Date</label>
                            <input name="registrationDate" type="date" class="form-control" required />
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
            <a href="@Url.Action("Index", "Home")">Back to Home Page</a>
        </div>

        <!-- Правая панель: Список издателей -->
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">Publisher List</h4>
                    <hr />
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Registration Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var publisher in Model)
                            {
                                <tr>
                                    <td>@publisher.Id</td>
                                    <td>@publisher.Name</td>
                                    <td>@publisher.Country</td>
                                    <td>@publisher.RegistrationDate.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        <a class="btn btn-sm btn-danger"
                                           href="@Url.Action("Delete", "AdminPublisherManagement", new { id = publisher.Id })">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
