@model Online_lib.Domain.Entities.User.BookInventoryViewModel
@using Online_lib.BusinessLogic.DBModel

@{
    int? role = null;
    int? userId = Session["UserID"] as int?;
    if (userId.HasValue)
    {
        using (var db = new UserContext())
        {
            var user = db.Users.Find(userId.Value);
            if (user != null)
            {
                role = (int)user.Role;
            }
        }
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">Book Issuing</h4>
                    <div class="text-center">
                        <img width="100px" src="~/Images/Books.png" />
                    </div>
                    <hr />

                    <div class="mb-2">
                        <label for="MemberID">Member ID</label>
                        <input class="form-control" id="MemberID" type="text" placeholder="Member ID" />
                    </div>

                    <div class="mb-2">
                        <label for="BookID">Book ID</label>
                        <div class="input-group">
                            <input class="form-control" id="BookID" type="text" placeholder="Book ID" />
                            <button class="btn btn-primary" type="button">Go</button>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="AuthorName">Author</label>
                        <input class="form-control" id="AuthorName" type="text" readonly value="@Model.FormData.AuthorName" />
                    </div>

                    <div class="mb-2">
                        <label for="PublisherName">Publisher</label>
                        <input class="form-control" id="PublisherName" type="text" value="@Model.FormData.PublisherName" readonly  />
                    </div>


                    <div class="mb-2">
                        <label for="BookName">Book Name</label>
                        <input class="form-control" id="BookName" type="text" placeholder="Book Name" value="@Model.FormData.BookName" readonly />
                    </div>

                    <div class="mb-2">
                        <label for="StartDate">Upload Date</label>
                        <input class="form-control" id="StartDate" type="text" value='@Model.FormData.UploadDate' readonly />

                    </div>


                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary w-100" type="button">Issue</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-success w-100" type="button">Return</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Home")">Back to Home Page</a>
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">Available Books</h4>
                    <hr />

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                @if (role == 1)
                                {
                                    <th>ID</th>
                                }
                                <th>Book Name</th>
                                <th>Author</th>
                                <th>Genre</th>
                                <th>Language</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model.Books)
                            {
                                <tr>
                                    @if (role == 1)
                                    {
                                        <td>@book.Id</td>
                                    }
                                    <td>@book.BookName</td>
                                    <td>@book.AuthorName</td>
                                    <td>@book.Genres</td>
                                    <td>@book.Language</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(book.FilePath))
                                        {
                                            <a href="@Url.Content(book.FilePath)" class="btn btn-sm btn-info" target="_blank">Download</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-sm btn-warning">Buy</a>
                                        }
                                        <a href="@Url.Action("Details", "BookIssuing", new { id = book.Id })" class="btn btn-sm btn-secondary">Info</a>
                                        @if (role == 1)
                                        {
                                            <a href="@Url.Action("Delete", "BookIssuing", new { id = book.Id })" class="btn btn-sm btn-danger">Delete</a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
