<div id="footer1" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <p>
                <a class="footerlinks btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_AdminLogin" })" runat="server">Admin Login</a>
                &nbsp;
                <a class="footerlinks btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_AdminAuthorManagement" })"  runat="server">Author Management</a>
                &nbsp;
                <a class="footerlinks btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_AdminPublisherManagement" })" runat="server">Publisher Management</a>
                &nbsp;
                <a class="footerlinks" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_BookInventory" })" runat="server">Book Inventory</a>
                &nbsp;
                <a class="footerlinks btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_AdminBookingIssuing" })" runat="server">Book Issuing</a>
                &nbsp;
                <a class="footerlinks btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_MemberManagement" })" runat="server">Member Management</a>
                &nbsp;
            </p>
        </div>
    </div>
</div>
<div id="footer2" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <p style="color:whitesmoke">&copy All right Reserved. <a class="footerlinks" href="https://github.com/IarI0lch1n/Online_library_Project_UTM" target="_blank">Iolchin I. & Griceanii A. from TI-238</a></p>
        </div>
    </div>
</div>
