@{
    var homepageView = Session["HomepageView"] as string ?? "_Homepage";
}

<header>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_Homepage" })">
                <img src="~/Images/Books.png" width="30" height="30" />
                E-Library
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- Для Bootstrap 4 -->
                    <li class="nav-item active">
                        <a class="nav-link btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_Homepage" })">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Terms</a>
                    </li>
                </ul>

                <ul class="navbar-nav right-section">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_BookInventory" })" runat="server">View Books</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_UserLogin" })" runat="server" >User Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_UserSignIn" })" runat="server">Sign Up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" runat="server">Logout</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn" href="@Url.Action("ChangeHomepage", "Home", new { homepage = "_UserProfile" })" runat="server">Hello user!</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<script>
    function changeHomepage(viewName) {
        fetch('@Url.Action("ChangeHomepage", "Home")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ homepage: viewName })
        }).then(response => {
            if (response.ok) {
                location.reload();
            }
        });
    }
</script>
