@model Tuple<List<Online_lib.Domain.Entities.User.UDbTable>, Online_lib.Domain.Entities.User.UDbTable>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var users = Model.Item1;
    var user = Model.Item2;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">All users</h4>
                    <table class="table table-bordered table-striped mt-3">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var u in users)
                            {
                                <tr>
                                    <td>@u.Id</td>
                                    <td>@u.Username</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" href="@Url.Action("ManageUsers", "Member", new { selectedId = u.Id })">Info</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    @if (user != null)
                    {
                        <h4 class="text-center">Information about user</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">ID</dt>
                            <dd class="col-sm-8">@user.Id</dd>

                            <dt class="col-sm-4">Name</dt>
                            <dd class="col-sm-8">@user.Username</dd>

                            <dt class="col-sm-4">Email</dt>
                            <dd class="col-sm-8">@user.Email</dd>

                            <dt class="col-sm-4">Number</dt>
                            <dd class="col-sm-8">@user.ContactNumber</dd>

                            <dt class="col-sm-4">Role</dt>
                            <dd class="col-sm-8">@user.Role</dd>

                            <dt class="col-sm-4">Status</dt>
                            <dd class="col-sm-8">@(user.IsBlocked ? "Blocked" : "Active")</dd>
                        </dl>

                        <div class="text-center">
                            <a class="btn btn-success" href="@Url.Action("ChangeRole", "Member", new { id = user.Id })">
                                @(user.Role == Online_lib.Domain.Enums.UserRole.Admin ? "Decrease to user" : "Promote to admin")
                            </a>
                            <a class="btn btn-warning" href="@Url.Action("ToggleBlock", "Member", new { id = user.Id })">
                                @(user.IsBlocked ? "Unblock" : "Block")
                            </a>
                            <a class="btn btn-danger" href="@Url.Action("DeleteUser", "Member", new { id = user.Id })" onclick="return confirm('Are you sure you want to delete this user?');">Delete this account</a>
                        </div>
                    }
                    else
                    {
                        <h5 class="text-center text-muted">Choose the user on the left side.</h5>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
