@model Online_lib.Domain.Entities.User.UserProfileModel

@{
    ViewBag.Title = "User Profile";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <img width="100px" src="~/Images/User.png" alt="Profile Image" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <h4>Your Profile</h4>
                            <span>Account Status - </span>
                        </div>
                    </div>

                    <hr />

                    @using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.UserID)

                        <div class="row">
                            <div class="col-md-6">
                                <label>Full Name</label>
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                            </div>

                            <div class="col-md-6">
                                <label>Date of Birth</label>
                                @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Contact Number</label>
                                @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", type = "tel" })
                            </div>

                            <div class="col-md-6">
                                <label>Email ID</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>State</label>
                                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                            </div>

                            <div class="col-md-4">
                                <label>City</label>
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            </div>

                            <div class="col-md-4">
                                <label>Pincode</label>
                                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Full Address</label>
                                @Html.TextAreaFor(m => m.FullAddress, new { @class = "form-control", rows = 2 })
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col text-center">
                                <span class="badge rounded-pill bg-info p-2 text-white">Login Credentials</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>User ID</label>
                                @Html.TextBoxFor(m => m.UserID, new { @class = "form-control", @readonly = "readonly" })
                            </div>

                            <div class="col-md-4">
                                <label>Old Password</label>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>

                            <div class="col-md-4">
                                <label>New Password</label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <hr />

                        <div class="text-center">
                            <button type="submit" formaction="@Url.Action("UpdateProfile", "Profile")" class="btn btn-primary btn-lg w-50">Update Profile</button>
                            <button type="submit" formaction="@Url.Action("ChangePassword", "Profile")" class="btn btn-warning btn-lg w-50 mt-2">Change Password</button>
                        </div>
                    }

                    <hr />
                    <a href="@Url.Action("Index", "Home")">Back to Home Page</a>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <img width="100px" src="~/Images/Books.png" alt="Books" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <h4>Your Read Books</h4>
                            <span class="badge rounded-pill bg-info p-2 text-white">Your books info</span>
                        </div>
                    </div>

                    <hr />

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model?.Books != null)
                            {
                                foreach (var book in Model.Books)
                                {
                                    <tr>
                                        <td>@book.Id</td>
                                        <td>@book.Title</td>
                                        <td>@book.Author</td>
                                        <td>@book.Status</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" class="text-center text-muted">No books found.</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
